.form {
  margin-top: 120px;
  margin-left: 400px;
  margin-right: 400px;
  border: solid 3px rgb(0, 0, 0);
}
.text {
  font-size: 25px;
  font-weight: bolder;
  color: red;
  text-align: center;
}
.id {
  margin-left: 180px;
  margin-bottom: 15px;
  height: 30px;
}
.but {height: 30px;}