.Na {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.NaP1 {
  width: 60px;
  height: 60px;
  margin-left: 150px;
}
.NaP2 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 150px;
}
.text {
  margin-right: 100px;
  font-weight: bolder;
  font-size: larger;
}
